@import-normalize;

:root {
    --background-primary: rgb(20 20 20);
    --primary: rgb(255 255 255);
    --secondary: rgb(36 36 36);
    --third: rgb(166 166 166);
    --fourth: black;
    --font-1: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    --font-2: Verdana, Geneva, Tahoma, sans-serif;
    --border: 1px dashed rgb(58, 58, 58);
    --preview-color-1: rgb(34, 34, 34);
    --preview-color-2: rgb(209, 209, 209);
    --preview-color-3: rgb(71, 71, 71);
    --preview-color-4: rgb(15, 15, 15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-1);
    font-size: 0.85rem;
}

ul,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: var(--background-primary);
    color: var(--primary);
    position: relative;
}

.btn {
    background: none;
    border: var(--border);
    padding: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    color: inherit;
}

.btn:hover {
    scale: 1.025;
    color: var(--third);
}

.container {
    display: flex;
    justify-content: space-between;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.preview {
    width: 50%;
    position: relative;
    margin: 40px 0;
}

.preview .fixed {
    position: fixed;
    border: var(--border);
    width: 593px;
    aspect-ratio: 0.7;
    display: flex;
}

.left-preview {
    flex: 1;
    height: 100%;
    background-color: var(--preview-color-1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-preview {
    flex: 2.5;
    height: 100%;
    background-color: var(--preview-color-2);
}

.preview-photo {
    width: 80%;
    aspect-ratio: 1;
    margin-top: 20px;
    align-self: center;
}

.form-photo {
    align-self: center;
}

.preview-photo img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px black;
}

.left-preview h1 {
    margin: 10px 0 10px 0;
    margin-left: -15px;
    padding: 3px 0 3px 15px;
    background-color: var(--fourth);
}

.left-preview li {
    margin: 10px 0 10px 0;
}

.left-preview span {
    font-weight: bold;
}

.preview-general {
    padding-left: 15px;
}

.preview-contact {
    padding-left: 15px;
}

.preview-hobbies li {
    margin: 0;
    margin-bottom: 3px;
}

.preview-hobbies {
    padding-left: 15px;
}

ol li {
    list-style: square;
    list-style-position: inside;
}

.preview .btn {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    padding: 0 10px;
}

.preview-header {
    background-color: var(--preview-color-3);
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 15%;
}

.header-name {
    text-align: center;
    font-size: 2rem;
}

.header-title {
    text-align: center;
    font-size: 1rem;
}

.preview-description {
    text-align: justify;
    padding-top: 20px;
}

.preview-main h1 {
    letter-spacing: 10px;
    padding: 5px 0;
    border-bottom: var(--border);
}

.preview-experience-1 {
    padding-top: 10px;
}

.preview-experience-2 {
    padding-top: 10px;
}

.preview-education-1 {
    padding-top: 10px;
}

.preview-education-2 {
    padding-top: 10px;
}

.preview-skills ol {
    padding-top: 10px;
}

.preview-skills li {
    margin-bottom: 3px;
}

.preview-main {
    color: var(--preview-color-4);
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-between;
}

.preview-experience-main {
    display: flex;
    justify-content: space-between;
}

.preview-education-main {
    display: flex;
    justify-content: space-between;
}

.icon-right {
    float: right;
    padding-right: 10px;
    padding-top: 1px;
}

.form input {
    background-color: var(--secondary);
    color: var(--third);
    border: none;
    padding: 7px;
    margin: 7px;
    display: flex;
    width: clamp(300px, 35vw, 585px);
    transition: all 0.5s ease-in-out;
}

.form input:hover {
    letter-spacing: 2px;
    font-weight: bold;
    background-color: white;
    color: black;
}

::placeholder {
    color: var(--third);
    text-shadow: 1px 1px 1px 1px black;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    margin: 7px;
    border: var(--border);
}

.flex-container:first-child {
    margin-top: 0;
}

.flex-container:last-child {
    margin-bottom: 0;
}

.form h1 {
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 5px;
    left: 25%;
    transform: translateX(-50%);
}

.about {
    display: flex;
    align-items: center;
}

.github-icon {
    height: 25px;
    padding-left: 10px;
    padding: 0 10px;
    transition: transform 1s ease-in-out;
}

.github-icon:hover {
    transform: rotate(360deg);
}

.footer a {
    color: var(--secondary);
}

.footer a:hover {
    color: var(--primary);
}
