@import-normalize;

:root {
    --background-primary: rgb(20 20 20);
    --primary: rgb(255 255 255);
    --secondary: rgb(36 36 36);
    --third: rgb(166 166 166);
    --font-1: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    --font-2: Verdana, Geneva, Tahoma, sans-serif;
    --border: 1px dashed rgb(58, 58, 58);
    --preview-color-1: rgb(34, 34, 34);
    --preview-color-2: rgb(209, 209, 209);
    --preview-color-3: rgb(107, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-1);
    font-size: 0.85rem;
}

ul,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: var(--background-primary);
    color: var(--primary);
}

.btn {
    background: none;
    border: var(--border);
    padding: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    color: inherit;
}

.btn:hover {
    scale: 1.025;
    color: var(--third);
}

.container {
    display: flex;
    justify-content: space-between;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preview {
    width: 50%;
    position: relative;
    margin: 40px 0;
}

.preview .fixed {
    position: fixed;
    border: var(--border);
    width: 585px;
    aspect-ratio: 0.7;
    padding: 7px;
    display: flex;
}

.left-preview {
    flex: 1;
    height: 100%;
    background-color: var(--preview-color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-preview {
    flex: 2;
    height: 100%;
    background-color: var(--preview-color-2);
    padding: 10px;
}

.preview-photo {
    width: 80%;
    aspect-ratio: 1;
    margin-top: 20px;
}

.preview-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.preview-general {
    margin-top: 20px;
}

.preview-contact {
    margin-top: 20px;
}

.preview-skills {
    margin-top: 20px;
}

ol li {
    list-style: square;
    list-style-position: inside;
}

.preview .btn {
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
}

.preview-header {
    color: var(--preview-color-3);
}

.form input {
    background-color: var(--secondary);
    color: var(--third);
    border: var(--border);
    padding: 7px;
    margin: 7px;
    display: flex;
    width: clamp(300px, 35vw, 585px);
}

::placeholder {
    color: var(--third);
    text-shadow: 1px 1px 1px 1px black;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form h1 {
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    height: 5vh;
}

.about {
    display: flex;
    align-items: center;
}

.github-icon {
    height: 25px;
    padding-left: 10px;
    padding: 0 10px;
    transition: transform 1s ease-in-out;
}

.github-icon:hover {
    transform: rotate(360deg);
}

.footer a {
    color: var(--secondary);
}

.footer a:hover {
    color: var(--primary);
}
