@import-normalize;

:root {
    --background-primary: rgb(27, 27, 27);
    --primary: rgb(197, 192, 192);
    --secondary: rgb(129, 129, 129);
    --third: rgb(19, 19, 19);
    --font-1: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    --font-2: Verdana, Geneva, Tahoma, sans-serif;
    --border: 1px dashed rgb(58, 58, 58);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary);
    font-family: var(--font-1);
    font-size: 1rem;
}

ul,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: var(--background-primary);
}

.flex-container .btn {
    background: none;
    border: var(--border);
    padding: 10px;
    width: 50%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preview {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.form input {
    background-color: var(--secondary);
    color: var(--third);
    border: var(--border);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    width: 30vw;
    min-width: 300px;
}

::placeholder {
    color: var(--third);
    text-shadow: 1px 1px 1px 1px black;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form h1 {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: var(--third);
    height: 10vh;
}

.header h1 {
    font-family: var(--font-2);
    font-size: 2rem;
}

.footer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 7.5vh;
    background-color: var(--third);
}

.about {
    display: flex;
    align-items: center;
}

.github-icon {
    height: 25px;
    padding-left: 10px;
    padding: 0 10px;
    transition: transform 1s ease-in-out;
}

.github-icon:hover {
    transform: rotate(360deg);
}

.footer a {
    color: var(--secondary);
}

.footer a:hover {
    color: var(--primary);
}
